<header>
    <nav class="navbar navbar-light" style="background-color: #416C81;">
        <a class="navbar-brand" style="color: white;">
            <i (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
            ALURAPIC
        </a>
        <app-menu #menu>
            <ul class="list-unstyled">
                <a showIfLogged [routerLink]="['p','add']">Upload</a> 

            </ul>
        </app-menu>

        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle"></i>
            <a class="ml-2" style="color: white;">{{ user.name }}</a>
            <a class="ml-2" (click)="logout()"style="color: white;">> Logout</a>
        </div>

        <ng-template #login>
            <span class="navbar-text" >
                <a [routerLink]="['']" style="color: white;">Login</a>
            </span>
        </ng-template>

    </nav>
    <div class="fixed-top">
        <app-alert></app-alert>
    </div>
</header>
<div style="padding-bottom: 4px;"></div>